#container{
	margin: auto;
	width: 1830px;
	background: #efefef
}

header { text-align: center; padding: 10px 0; }


#main{
	border: 1px solid 'navy';
	display: table;
}

#tratamiento{
	display: table-cell;  
	width: 500px;  
	padding-right: 22px;  	
}

#odontograma-wrapper{
	display: table-cell;  
	width: 630px;	
}
